<%- include("partials/header") -%> 

<body style="background-image: url(/images/<%=bgimg%>.png)">

    <header>
        <h1 class="quote">"What you can measure you can control"</h1>
    
        <div class="dropdown">
            <button class="dropbtn">Lists</button>
            <div class="dropdown-content">
                <% lists.forEach(list => { %>
                    <a href="/user/<%= userId %>/lists/<%= list._id %>"><%= list.name %></a>                    
                    <hr class="border-bottom-hr">
                <% }); %>

            </div>
        </div>

        <form action="/logout" method="post">
            <button class="logout-btn" type="submit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </header>


<li name="userId"><%= userId %></li>
<li name="listId"><%= listId %></li>



<div class="list-body">

    <div class="list-title">
        <div class="delete">
            <form action="/deleteList" method="POST">
                <button type="submit" name="deleteListBtn" value="<%= listId %>"><i class="fas fa-trash-alt"></i></button>
                <input type="hidden" name="userIdDeleteList" value="<%= userId %>">
            </form>
        </div>

        <div class="add">
            <form action="/addList" method="POST">
                <button class="reply" onClick="$('.reply').toggle()" type="button"><i class="fas fa-plus-circle"></i></button>
                <button class="reply button-show" type="submit"><i class="fas fa-plus-circle"></i></button>
                <input type="text" class="reply" name="addNewList" placeholder="New List Name" autocomplete="off" maxlength="16" required spellcheck="false">
                <input type="hidden" name="userIdAddList" value="<%= userId %>">
            </form>
        </div>
        <p><%= listTitle %></p>
    </div>
    
    <div class="list-content">
        <div class="item-list">
            <% items.forEach((item) =>{ %>
                <form action="/deleteItem" method="POST">
                    <div class="item">
                        <input type="checkbox" name="checkbox" onChange="this.form.submit()" value=<%= item._id %> >
                        <p><%= item.name %> </p>
                    </div>
                    <input type="hidden" name="listIdDeleteItem" value="<%= listId %>">
                    <input type="hidden" name="userIdDeleteItem" value="<%= userId %>">
                </form>
            <% }) %>
        </div>

        <form class="add-item-input" action="/addItem" method="POST">
            <input type="text" name="newItem" placeholder="Add Item" autocomplete="off" autofocus required spellcheck="false">
            <button type="submit" name="listIdAddBtn" value="<%= listId %>">+</button>
            <input type="hidden" name="userIdAddBtn" value="<%= userId %>">
        </form>
    </div>
</div>

<%- include("partials/footer") -%> 